[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,razor,cshtml}]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 4

[*.cs]
indent_style = space
indent_size = 4
max_line_length = 120
