@page "/game/{GameId}"

@if (Game is null)
{
    <p>Game with id <em>@(GameId)</em> not found</p>
    <p><a href="/">Back to start</a></p>
    return;
}

<h1>Game - <em>@(GameId)</em></h1>

<div id="card"></div>

<button @onclick="ResetAim">Reset Aim</button>

<script>
    async function addOrientationListener(dotNetHelper) {
        const results = await Promise.all([
            navigator.permissions.query({ name: "accelerometer" }),
            navigator.permissions.query({ name: "gyroscope" }),
        ]);
        if (results.some(r => r.state !== "granted")) {
            alert("Please enable the accelerometer and gyroscope");
            return;
        }

        const sensor = new RelativeOrientationSensor({ frequency: 30, referenceFrame: "device" });
        sensor.addEventListener("reading", () => {
            dotNetHelper.invokeMethodAsync("OnOrientationReading", sensor.quaternion);
        });
        sensor.start();
    }

    function addCardListener(dotNetHelper) {
        const card = document.getElementById("card");

        let touchPosition;
        let position = { x: 0, y: 0 };

        card.addEventListener("touchstart", event => {
            event.preventDefault();

            touchPosition = { x: event.changedTouches[0].screenX, y: event.changedTouches[0].screenY };
        });

        card.addEventListener("touchmove", event => {
            event.preventDefault();

            position.x += event.changedTouches[0].screenX - touchPosition.x;
            position.y += event.changedTouches[0].screenY - touchPosition.y;
            touchPosition = { x: event.changedTouches[0].screenX, y: event.changedTouches[0].screenY };

            card.style.top = `calc(75% + ${position.y}px)`;
            card.style.left = `calc(50% + ${position.x}px)`;
        });

        card.addEventListener("touchend", async event => {
            event.preventDefault();

            if (position.y < window.screen.availHeight * -0.4) {
                dotNetHelper.invokeMethodAsync("Throw");
            }

            position = { x: 0, y: 0 };
            card.style.top = "75%";
            card.style.left = "50%";
        });
    }
</script>
